* {
  margin: 0;
  padding: 0;
}
.align_left,
.align_right {
  width: 49.7%;
  display: inline-block;
  vertical-align: top;
}
.bottom_cont li {
  list-style-type: none;
}
section.container {
  padding-top: 60px;
  height: 100vh;
  position: relative;
}
.footer {
  background: #bfe2fe;
  padding: 30px 40px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footer .align_right {
  text-align: right;
  font-weight: bold;
}
.bottom_cont li {
  list-style-type: none;
  display: inline-block;
  width: 24.6%;
  text-align: center;
  margin: 20px 0;
  font-size: 15px;
}
.bottom_cont li a {
  color: #333;
  font-weight: bold;
}
.bottom_cont li a:hover {
  text-decoration: none;
}
.content .align_left,
.content .align_right {
  padding: 30px 50px;
}
input.input {
  border: 0;
  padding: 12px 15px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #eee;
}
.button {
  background: #fff;
  border: 1px solid #333;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  color: #222;
}
.button:hover {
  background: #bfe2fe;
  color: #222;
}
.header .align_right img {
  float: right;
  margin-right: 20px;
}
.content {
  margin-top: 50px;
}
.bottom_cont {
  margin-top: 50px;
}
h1 {
  font-size: 35px;
  font-weight: normal;
}
h1 span {
  font-size: 27px;
}
input.input.half {
  width: 49.4%;
  display: inline-block;
}
p.notif {
  color: red;
  font-weight: bold;
  font-size: 14px;
}
